/* color palette variables */
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

html {
    scroll-behavior: smooth; 
}

:root {
    --primary-color: #1a1a1d; 
    --secondary-color: #614b3e; 
    --tertiary-color: #8c7b73;
    --quarternary-color: #d2c1b5; 
    --quinary-color: #d28e5f; 
    --side-pad: 1rem; 
    --test: 1px solid red; 
}

*,
*::before,
*::after {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

/* Class to prevent transitions from occurring on load/ refresh */
.preload {
    transition: none !important; 
}

img {
    width: 100%; 
}

body {
    background-color: var(--primary-color); 
    color: var(--quinary-color); 
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth; 
}

/* Header and navbar styles start here */
header {
    
    background-color: var(--secondary-color);
    display:flex;
    justify-content: space-between;
    align-items:center; 
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky; 
    top: 0; 
    z-index:9999; 
    box-shadow: 0 0 10px var(--quinary-color);
}

header h1 a {
    text-decoration: none; 
    color: var(--quinary-color); 
}

header h1 {
    font-weight: bold; 
    font-size: 50px; 
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin-left: var(--side-pad); 
    cursor: pointer;
    transition: color 250ms ease-in; 
}

header h1 a:hover, header h1 a:focus {
    color: var(--primary-color);
}

header a {
    text-decoration: none; 
}


header nav {
    margin: 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center; 
    text-shadow: 0 0 10px rgba(0,0,0,0.75); 
    gap: 2rem; 
    margin: 0rem 2rem; 
}

header nav ul li {
    list-style: none; 
    font-weight: bold;
    position: relative; 
    padding: 1.5rem 1rem; 
    cursor: pointer; 
    font-size: 25px;   
}

.p-dropdown {
    position: absolute; 
    top: 4rem;
    left: -1rem; 
    box-shadow: 0 0 10px var(--quinary-color);
    background-color: var(--secondary-color);
    border-radius: 0.2rem; 
    width: 15rem; 
    padding: 1rem; 
    display: flex; 
    flex-direction: column; 
    gap: 0.5rem; 
    opacity: 0;
    visibility: hidden;  
    transition: opacity 200ms ease-in-out;
}

header nav ul li:hover .p-dropdown, header nav ul li:focus .p-dropdown{
    opacity: 1;
    visibility: visible; 
}

header nav ul li::before {
    content: "";
    width: 0; 
    height: 0.3rem;
    border-radius: 0.2rem; 
    position: absolute;
    top: 3.5rem;
    right: 0rem; 
    background-color: var(--quinary-color);
    transition: width 200ms ease-in; 
}


header nav ul li:hover::before{
    width: 100%; 
}


.p-dropdown li {
    list-style: none;
    padding: 0.7rem 1rem;
    border-radius: 0.2rem;
    color: var(--quarternary-color); 
    transition: background-color 200ms ease-in-out;
    transition: color 200ms ease-in; 
}

.p-dropdown li a {
    color: var(--quinary-color); 
    transition: color 200ms ease-in; 
}

.p-dropdown li:hover, .p-dropdown li:focus {
    background-color: var(--quinary-color);
    color: var(--primary-color);
}

.p-dropdown li a:hover {
    color: var(--primary-color); 
}

header nav ul li a {
    color: var(--quinary-color);
}

/* Header navbar style ends */

/* Hero style starts */


/* Begin animation for star fall in the hero */
.hero {
    position: relative; 
}

.stars {
    position: relative; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 600px;
    background-color: var(--primary-color);
    overflow: hidden; /*prevents the stars from loading off screen*/
}

.stars span {
    position: absolute; 
    width: 4px; 
    height: 4px; 
    background: var(--quinary-color);
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(210,142,95,0.1),
    0 0 0 8px rgba(210,142,95,0.1),
    0 0 20px var(--quinary-color); 
    animation: animate 3s linear infinite; 
}

.stars span::before {
    content: "";
    position: absolute; 
    top: 50%;
    width: 200px;
    height: 1px; 
    background: linear-gradient(90deg,var(--quinary-color),transparent);
    transform: translateY(-50%);
}

@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 0.5; 
    }
    100%
    {
        transform: rotate(315deg) translateX(-700px);
        opacity: 0; 
    }
}

.stars span:nth-child(1) {
    top: 0;
    right: 0;
    left: initial; 
    animation-duration: 1s;
}

.stars span:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial; 
    animation-duration: 3s;
}

.stars span:nth-child(3) {
    top: 80px;
    right: 80px;
    left: initial;
    animation-duration: 3s;
}

.stars span:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-duration: 1.5s;
}

.stars span:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-duration: 2.5s;
}

.stars span:nth-child(6) {
    top: 0;
    right: 600px;
    left: initial;
    animation-duration: 3s;
}

.stars span:nth-child(7) {
    top: 300px;
    right: 0;
    left: initial;
    animation-duration: 1.75s;
}

.stars span:nth-child(8) {
    top: 0;
    right: 700px;
    left: initial;
    animation-duration: 1.25s;
}

.stars span:nth-child(9) {
    top: 0;
    right: 1000px;
    left: initial;
    animation-duration: 2.25s;
}


.stars span:nth-child(10) {
    top: 0;
    right: 450px;
    left: initial;
    animation-duration: 2.25s;
} 

/* Hero Star Animation End */

/* Hero Banner Style Start */


.hero-content {
    position: relative; 
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;  
    height: 500px; 
    
}
.hero-content h2 {
    font-size: 100px; 
    margin-bottom: 4rem; 
}

.hero-content p {
    line-height: 1.5; 
    font-size: 30px; 
    text-align: center; 
}

.hero-content span {
    
    display:inline-block; 
    font-weight: bold; 
}

/* Hero Banner Style End */
/* Hero Section Style End */

/* About me Section Style start */
.personal{
    display:flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap;   
    width: 100%; 
    overflow: auto;  
    padding: 2rem 0; 
}

/*section-title that should be re-used for each main section on webpage */ 
.section-title {
    font-size: 35px; 
    text-align: right;  
    font-weight: bold;
    padding-right: 1rem; 
    padding-bottom: 0.2rem; 
    border-right: 5px solid var(--quarternary-color);
    border-bottom: 5px solid var(--quarternary-color);
    border-radius: 0.5rem; 
    width: 15%; /* controls the length of the title edge-border */
    overflow: auto;  
    margin-left: var(--side-pad);
    text-shadow: 2px 2px 4px var(--quarternary-color); 
    
}

.about-me-content {
    display: flex;
    justify-content: space-around; 
    align-items:center; 
    width: 80%; 
}

.personal img {
    width: 281px;
    height: 322px; 
    border-radius: 0.5rem;
    border: 3px solid var(--quinary-color);
    box-shadow: 0px 0px 5px var(--quinary-color);  
}

/*styling for generic panel that will be used in other sections */ 
.panel {
    border: 5px solid var(--quinary-color);
    box-shadow: 0px 0px 15px var(--quarternary-color); 
    border-radius: 1rem;
    cursor: pointer;  
}

/*fixing dimensions and spacing of panel in the about-me section*/ 
.personal .panel {
    display: flex; 
    justify-content: space-around; 
    overflow: auto; 
    width: 60%; 
    padding: 20px;  
}

.personal-info {
    margin: auto 0;  
    font-size: 20px; 
    width: 50%; 
}

.personal-info a {
    text-decoration: underline; 
    color: var(--quinary-color);
    transition: color 200ms ease-in; 
}

.personal-info a:hover {
    color: var(--quarternary-color);
}

.qs { 
   margin-left: 5rem; 
   font-size: 20px;  
}


/* style for main list of qualifications and skills */

.qs h3 {
    margin-bottom: 0.5rem; 
}
.qs-list {
    margin-left: 2rem;
    line-height: 1.5;   
}

.qs-list li {
    margin-left: 2rem; 
}

/*About me section style end */

/*Projects section style start */

/*Style for completed project section*/


.projects {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    width: 100%; 
    overflow: auto; 
    padding-top: 5rem; 
    
}

.all-projects .section-title {
    height: 100px; 
}

.projects-list {
    display: flex;
    flex-direction: column;
    width: 80%;

}
/* sets background image for only run-buddy project */ 
#ds-homepage {
    background-image: url(../images/DS-homepage-bg.png);
    height: 320px; /* first project is meant to be larger... */
}

#gs-homepage {
    background-image: url(../images/gs-bg.JPG);
    height: 300px; /* first project is meant to be larger... */
}



/* generic class for all project panels */
.project{
    background-size: cover;
    background-position: 80%;
    margin-right: 20px; 
    height: 280px; 
    position: relative;
    opacity: 0.7; 
    transition: opacity 500ms ease-in; 
    margin-bottom: 30px;  

}

.projects-list a {
    display: block; 
    text-decoration: none; 
    color: inherit; 
}

/* 'highlights' project when panel is hovered */ 
.project:hover {
    opacity: 1; 
}

/* generic class for project description boxes */ 
.project-descriptor {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 20%; 
    overflow: auto; 
    background-color: var(--primary-color); 
    padding: 10px; 
    border-bottom-right-radius: 1rem; 
    border-top-right-radius: 1rem;
    border: none; 
    transition: border 100ms ease-in; 
    transition: box-shadow 100ms ease-in; 
    transition: background-color 1000ms ease-in-out; 
}

.project-descriptor h3 {
    font-size: 20px;
    font-weight: bolder;   
}

.project-descriptor h4 {
    font-weight:bold; 
    font-size: 15px; 
}

.project-descriptor p {
    margin-top: 5px; 
    font-size: 13px; 
    line-height: 1.5;
}

/* 'selects' whenever the descriptor box is hovered*/ 
.project-descriptor:hover {
    background-color: rgba(26,26,29,0.7);
    box-shadow: 5px 3px 5px var(--quarternary-color); 
    border: 2px solid var(--quinary-color); 
}

/* Style for developing projects section*/

#calorie {
    background-image:url(../images/calorie-bg.jpg); 
}

#pathfinder {
    background-image:url(../images/pathfinder-bg.jpg); 
}

#coffee-crawl {
    background-image:url(../images/coffee-bg.jpg); 
}

/*Projects section style end */


/* Style for contact me section start */


.contact-info {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    width: 100%; 
    overflow: auto; 
    padding-top: 5rem; 
}

.contact .section-title {
    height: 60px; 
}

address {
    margin: 7px 0px;
}

address ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 5rem; 
    margin: 0 35rem;  
}

address ul li {
    list-style: none; 
    position: relative;  
}

address img {
    width: 100px; 
    height: 100px;
    border: 4px solid var(--quinary-color); 
    border-radius: 100%; 
}

/* Style for contact me section end */ 

/* Style for footer section start */
footer {
    background-color: var(--secondary-color);
    font-size: 30px; 
    text-align: center; 
    font-weight: bold;
    text-shadow: 0px 0px 3px var(--quarternary-color);  
    margin-top: 30px; 
    box-shadow: 0 -3px 10px var(--quinary-color); 
}
/* Style for footer end */

/* Media Queries for medium range screens/tablets */

@media screen and (max-width: 1024px) {

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative; 
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px; 
    }

    header nav ul li:hover .p-dropdown, header nav ul li:focus .p-dropdown{
        opacity: 0;
        visibility: hidden; 
    }

    .hero-content {
        height: 400px; 
    }

    .stars {
        height: 400px;
    }


    footer {
        font-size: 20px; 
    }

    .hero-content h2 {
        font-size: 60px; 
    }
    
    .hero-content p {
        line-height: 1.5; 
        font-size: 20px; 
    }
    .section-title {
        font-size: 25px; 
        text-align: center;  
        padding-right: 0; 
        padding-bottom: 0.2rem; 
        border-bottom: 3px solid var(--quarternary-color);
        border-right: 0;
        border-radius: 0; 
        width: 30%; /* controls the length of the title edge-border */
        overflow: auto; 
        display: block;  
        margin: 0 auto 20px auto; 
        text-shadow: 1px 1px 4px var(--quarternary-color); 
    }

    .about-me-content { 
        margin: 0 auto; 
        border: 5px solid var(--quinary-color);
        box-shadow: 0px 0px 15px var(--quarternary-color); 
        border-radius: 1rem;
    }

    .personal img {
        border: 0; 
    }

    .personal-info {
        font-size: 15px; 
        width: 100%; 
    }

    .personal .panel {
        width: 80%; 
        padding: 10px;
        margin-left: 10px;   
        border: 0; 
        box-shadow: 0 0 0 0; 
    }

    .qs { 
        margin-left: 2rem; 
        font-size: 15px;  
     }

     .qs-list {
        margin-left: 0.75rem;
        line-height: 1.5;   
    }
    
    .qs-list li {
        margin-left: 1rem; 
    }
    

     .projects {
        justify-content: center;
    }

    .all-projects .section-title {
       height: 40px;  
    }

    .project-descriptor {
        width: 40%;
    }

    .project-descriptor h3 {
        font-size: 20px;
        font-weight: bolder;   
    }
    
    .project-descriptor h4 {
        font-weight:bold; 
        font-size: 17px; 
    }
    
    .project-descriptor p {
        margin-top: 3px; 
        font-size: 15px; 
        line-height: 1.5;
    }
    .contact-info {
        display:block;
    }

    address ul {
        width: 100%; 
        justify-content: center; 
        margin: 0 auto; 
    }

}

/* media query for smallest screens/mobile */

@media screen and (max-width: 575px) {
    header nav ul {
        margin-top: 10px;
    }

    header nav ul li a {
        font-size: 15px; 
    }

    .hero-content {
        height: 300px; 
    }

    .stars {
        height: 300px;
    }

    footer {
        font-size: 15px; 
    }

    .hero-content h2 {
        font-size: 40px; 
    }
    
    .hero-content p {
        line-height: 1.5; 
        font-size: 15px; 
    }
    .section-title {
        font-size: 20px; 
        width: 25%; /* controls the length of the title edge-border */
      
    }

    .personal img {
        width: 180px;
        height: 240px; 
    }


    .personal-info {
        font-size: 12px; 
        width: 100%; 
        
    }

    .personal .panel {
        width: 80%; 
        padding: 10px;
        margin: 0; 
        border: 0; 
        box-shadow: 0 0 0 0; 
    }

    .qs { 
        margin-left: 0.5rem; 
        font-size: 12px;  
     }

    .all-projects .section-title {
       height: 60px;  
    }

    .project-descriptor {
        width: 60%; 
    }

    .project-descriptor h3 {
        font-size: 20px;
        font-weight: bolder;   
    }
    
    .project-descriptor h4 {
        font-weight:bold; 
        font-size: 17px; 
    }
    
    .project-descriptor p {
        margin-top: 3px; 
        font-size: 15px; 
        line-height: 1.5;
    }
    .contact-info {
        display:block;
    }

    address ul {
        width: 100%; 
        justify-content: center; 
        margin: 0 auto; 
    }

}